@import '../utils/mixins';

.app {
    width: 100vw;
    height: 100vh;
    @include flex(column);

    .input-group {
        width: 300px;
    }

    .input-error-msg {
        color: red;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }

    // ERROR MSG
    .error-hidden {
        visibility: hidden;
    }
}